# MAR 440 Python Module: Book 00 *Python Basics*

### Welcome to the Python module of the course *Marine Project from Idea to Realization*

[Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) is the source for some of the material in this module. It is an excellent reference material that introduces, with examples, various basic concepts that we will cover in this course.

## This module consists of:

|Day|Topic|
|---|---|
|1|Pure Python basics -- data types, lists, for loops, conditional statements, functions. How to read documentation on libraries and functions.|
|2|Numpy arrays, slicing, efficient vectorized operations versus pure Python operations.|
|3|Computation on Numpy arrays, indexing, broadcasting, boolean masks. Intro to Pandas: Series, Dataframes, indexing, selection, boolean selection.|
|4| Matplotlib: scatter, line, fill_between, bar, contour, contourf, pcolormesh, quiver|
|5|Modifying Matplotlib plot elements: axis labels, legends, axis limits, title, figsize, subplots, gridspec.GridSpec|
|6|Cartopy for map projections, and if time permits Xarray|

In [1]:
print("Hello world!")

Hello world!

This is a Jupyter notebook. It uses your browser to provide an interactive environment from where you can run Python code. You can simply type in Python code and run it by pressing "Shift+Enter", as shown above. Try running your first code, print out your name below. To enter into edit mode, you simply click on the cell, or select the cell with your arrow keys and press the return key to enter the "Edit" mode.

In [7]:
# Uncomment, by removing the hash (#) character from the following line to load the solution.
# %load ./MAR440/solutions/sol_00_01.py

You can have cells that run Python code, or a "Markdown" cell that is used for documentation. This is a Markdown cell. To change a cell into code or markdown mode, select it and change the property in the dropdown bar from the toolbar menu on top.

In [8]:
1+1

2

You can directly perform basic arithmetic operations as shown above. Try out all the operators: +, -, /, \*, \*\*

In [9]:
myvariable = 1

In [10]:
myvariable

1

In [11]:
type(myvariable)

int

In [13]:
# you can use any name for your variable
x = 10.5

In [14]:
type(x)

float

In [15]:
y = [1,2,3,4]

In [16]:
y

[1, 2, 3, 4]

In [18]:
mixedlist = [1, 2, 3.5, 4]

In [19]:
mixedlist

[1, 2, 3.5, 4]

In [31]:
#access elements in the list by their index
mixedlist[0]

1

In [35]:
#perform arithmetic operations with list elements
y[0] * mixedlist[1]

2

In [20]:
for i in range(0, 10, 1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [24]:
# you can even loop over iterable objects

for element in y:
    print(element)

1
2
3
4

In [25]:
if True:
    print("True")
else:
    print("False")

True

In [27]:
mybool = False
if mybool:
    print("True")
else:
    print("False")

False

In [30]:
if(y[0] < 5):
    print(y[0], "is less than 5")

1 is less than 5

In [37]:
count = 0
while count < 4:
    print(y[count])
    count = count + 1

1
2
3
4